<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>ICT - Library Management System</title>
</head>
<body>

<section>

    <!-- registration Start -->
    <div class="container col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="bg-light rounded p-5">
            <h1 class="text-center"> Add New Todo </h1>
            <form th:action="@{/save}" th:object="${todoDTO}" method="post"
                  enctype="multipart/form-data">
                <div class="row g-3">

                    <div class="col-md-12">
                        <div class="form-floating">
                            <input
                                    id="title"
                                    type="text"
                                    name="title"
                                    th:field="*{title}"
                                    class="form-control"
                                    placeholder="Enter title"
                                    required="required"
                            >
                            <label for="title">Title</label>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="details">Details</label>
                        <textarea
                                class="form-control border-0"
                                rows="5"
                                id="details"
                                name="details"
                                th:field="*{details}"
                                placeholder=""></textarea>
                    </div>

                    <!--                    <div class="col-md-6">-->
                    <!--                        <div class="form-floating">-->
                    <!--                            <input-->
                    <!--                                    id="contact"-->
                    <!--                                    type="text"-->
                    <!--                                    name="contact"-->
                    <!--                                    th:field="*{contact}"-->
                    <!--                                    class="form-control"-->
                    <!--                                    placeholder="Enter Contact"-->
                    <!--                                    required="required"-->
                    <!--                            >-->
                    <!--                            <label for="contact">Contact</label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="col-md-6">-->
                    <!--                        <div class="form-floating">-->
                    <!--                            <input-->
                    <!--                                    id="email"-->
                    <!--                                    type="email"-->
                    <!--                                    name="email"-->
                    <!--                                    th:field="*{email}"-->
                    <!--                                    class="form-control"-->
                    <!--                                    placeholder="Enter Contact"-->
                    <!--                                    required="required"-->
                    <!--                            >-->
                    <!--                            <label for="email">Email</label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="col-md-6">-->
                    <!--                        <div class="form-floating">-->
                    <!--                            <input-->
                    <!--                                    id="age"-->
                    <!--                                    type="number"-->
                    <!--                                    min="15"-->
                    <!--                                    max="100"-->
                    <!--                                    name="age"-->
                    <!--                                    th:field="*{age}"-->
                    <!--                                    class="form-control"-->
                    <!--                                    placeholder="Enter Contact"-->
                    <!--                                    required="required"-->
                    <!--                            >-->
                    <!--                            <label for="age">Age</label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="col-md-6">-->
                    <!--                        <div class="form-floating">-->
                    <!--                            <select-->
                    <!--                                    class="form-select"-->
                    <!--                                    type="text"-->
                    <!--                                    id="bloodGroup"-->
                    <!--                                    name="bloodGroupName"-->
                    <!--                                    th:field="*{bloodGroup}"-->
                    <!--                                    th:value="${userDTO.bloodGroup}"-->
                    <!--                                    required="required"-->
                    <!--                            >-->
                    <!--                                &lt;!&ndash;<option selected>Open this select menu</option>&ndash;&gt;-->
                    <!--                                <option value="A+">A+</option>-->
                    <!--                                <option value="B+">B+</option>-->
                    <!--                                <option value="AB+">AB+</option>-->
                    <!--                                <option value="O+">O+</option>-->
                    <!--                                <option value="A-">A-</option>-->
                    <!--                                <option value="B-">B-</option>-->
                    <!--                                <option value="AB-">AB-</option>-->
                    <!--                                <option value="O-">O-</option>-->
                    <!--                            </select>-->
                    <!--                            <label for="bloodGroup">Blood Group</label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="col-md-6">-->
                    <!--                        <div class="form-floating">-->
                    <!--                            <input-->
                    <!--                                    id="degree"-->
                    <!--                                    type="text"-->
                    <!--                                    name="degree"-->
                    <!--                                    th:field="*{degree}"-->
                    <!--                                    class="form-control"-->
                    <!--                                    placeholder="Enter Degree"-->
                    <!--                                    required="required"-->
                    <!--                            >-->
                    <!--                            <label for="contact">Degree</label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="col-md-6">-->
                    <!--                        <div class="form-floating">-->
                    <!--                            <select-->
                    <!--                                    class="form-select"-->
                    <!--                                    type="text"-->
                    <!--                                    id="roles"-->
                    <!--                                    name="roles"-->
                    <!--                                    th:field="*{roles}"-->
                    <!--                                    th:value="${userDTO.roles}"-->
                    <!--                                    required="required"-->
                    <!--                                    onchange="hideField()"-->
                    <!--                            >-->
                    <!--                                &lt;!&ndash;<option selected>Open this select menu</option>&ndash;&gt;-->
                    <!--                                <option th:each="role : ${roles}"-->
                    <!--                                        th:value="${role.id}"-->
                    <!--                                        th:text="${role.roleType}"-->
                    <!--                                >-->
                    <!--                                </option>-->
                    <!--                            </select>-->
                    <!--                            <label for="roles">Role</label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="col-md-12">-->
                    <!--                        <div class="form-floating">-->
                    <!--                            <input-->
                    <!--                                    id="institution"-->
                    <!--                                    type="text"-->
                    <!--                                    name="institution"-->
                    <!--                                    th:field="*{institution}"-->
                    <!--                                    class="form-control"-->
                    <!--                                    placeholder="Enter Contact"-->
                    <!--                                    required="required"-->
                    <!--                            >-->
                    <!--                            <label for="email">Institution</label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="col-md-12">-->
                    <!--                        <div class="form-floating">-->
                    <!--                            <input-->
                    <!--                                    id="address"-->
                    <!--                                    type="text"-->
                    <!--                                    name="address"-->
                    <!--                                    th:field="*{address}"-->
                    <!--                                    class="form-control"-->
                    <!--                                    placeholder="Enter Contact"-->
                    <!--                                    required="required"-->
                    <!--                            >-->
                    <!--                            <label for="address">Address</label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="col-md-6 d-none" id="visitPriceDiv">-->
                    <!--                        <div class="form-floating">-->
                    <!--                            <input-->
                    <!--                                    id="visitPrice"-->
                    <!--                                    type="number"-->
                    <!--                                    name="visitPrice"-->
                    <!--                                    min="0"-->
                    <!--                                    max="5000"-->
                    <!--                                    th:field="*{visitPrice}"-->
                    <!--                                    class="form-control"-->
                    <!--                                    placeholder="Enter Contact"-->
                    <!--                            >-->
                    <!--                            <label for="email">Visit Price</label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="col-md-6 d-none" id="departmentDiv">-->
                    <!--                        <div class="form-floating">-->
                    <!--                            <select-->
                    <!--                                    class="form-select"-->
                    <!--                                    type="text"-->
                    <!--                                    id="department"-->
                    <!--                                    name="department"-->
                    <!--                                    th:field="*{department}"-->
                    <!--                                    th:value="${userDTO.department}"-->
                    <!--                            >-->
                    <!--                                &lt;!&ndash;<option selected>Open this select menu</option>&ndash;&gt;-->
                    <!--                                <option th:each="department : ${departments}"-->
                    <!--                                        th:value="${department.id}"-->
                    <!--                                        th:text="${department.name}"-->
                    <!--                                >-->
                    <!--                                </option>-->
                    <!--                            </select>-->
                    <!--                            <label for="bloodGroup">Department</label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="col-md-12">-->
                    <!--                        <div class="form-floating">-->
                    <!--                            <input-->
                    <!--                                    id="attachment"-->
                    <!--                                    type="file"-->
                    <!--                                    name="attachment"-->
                    <!--                                    th:field="*{attachment}"-->
                    <!--                                    class="form-control"-->
                    <!--                                    placeholder="Enter Image"-->
                    <!--                            >-->
                    <!--                            <label for="address">Profile Photo</label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="col-md-12 d-none" id="visitedDaysDiv">-->
                    <!--                        <div class="form-floating">-->
                    <!--                            <select-->
                    <!--                                    th:type="Long"-->
                    <!--                                    class="form-select"-->
                    <!--                                    id="visitedDays"-->
                    <!--                                    name="visitedDays"-->
                    <!--                                    multiple-->
                    <!--                                    th:value="${userDTO.visitedDays}"-->
                    <!--                            >-->
                    <!--                                <option th:each="visitedDay : ${visitedDays}"-->
                    <!--                                        th:value="${visitedDay.id}"-->
                    <!--                                        th:text="${visitedDay.name}"-->
                    <!--                                >-->
                    <!--                                </option>-->
                    <!--                            </select>-->
                    <!--                            <label for="visitedDays" class="form-label">Authority User Roles</label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="col-md-6 d-none" id="startingTimeDiv">-->
                    <!--                        <div class="form-floating">-->
                    <!--                            <input-->
                    <!--                                    id="startingTime"-->
                    <!--                                    type="time"-->
                    <!--                                    name="startingTime"-->
                    <!--                                    th:field="*{startingTime}"-->
                    <!--                                    class="form-control"-->
                    <!--                                    placeholder="Enter Contact"-->
                    <!--                            >-->
                    <!--                            <label for="email">Starting Time</label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="col-md-6 d-none" id="endingTimeDiv">-->
                    <!--                        <div class="form-floating">-->
                    <!--                            <input-->
                    <!--                                    id="endingTime"-->
                    <!--                                    type="time"-->
                    <!--                                    name="endingTime"-->
                    <!--                                    th:field="*{endingTime}"-->
                    <!--                                    class="form-control"-->
                    <!--                                    placeholder="Enter Contact"-->
                    <!--                            >-->
                    <!--                            <label for="email">Ending Time</label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <div class="col-6">
                        <button class="btn btn-danger w-100 py-3" type="reset">Cancel</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- registration End -->

</section>

</body>
</html>