<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Tanver To-Do App</title>
</head>
<body>

<section>

    <!-- registration Start -->
    <div class="container col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="bg-light rounded p-5">
            <h1 class="text-center"> Add New Todo </h1>
            <form th:action="@{/save}" th:object="${todoDTO}" method="post"
                  enctype="multipart/form-data">
                <div class="row g-3">

                    <div class="col-md-12">
                        <div class="form-floating">
                            <input
                                    id="title"
                                    type="text"
                                    name="title"
                                    th:field="*{title}"
                                    class="form-control"
                                    placeholder="Enter title"
                                    required="required"
                            >
                            <label for="title">Title</label>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="details">Details</label>
                        <textarea
                                class="form-control border-0"
                                rows="5"
                                id="details"
                                name="details"
                                th:field="*{details}"
                                placeholder=""></textarea>
                    </div>

                    <div class="col-6">
                        <button class="btn btn-danger w-100 py-3" type="reset">Cancel</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- registration End -->

</section>

</body>
</html>